body {
    font-family: segoe ui, Arial, sans-serif;
    font-size: 16px;
    margin: 0px;
	user-select: none;
}
.container {
    width: 920px;
    margin: auto;
}
.header {
    font-weight: 400;
    margin: 10px 20px;
}
h2 {
    font-weight: 400;
    margin: 0px 10px;
	padding-bottom: 5px;
}
h3 {
    font-weight: 400;
}
[data-tooltip] {
    position: relative;
}
[data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
	border-radius: 5px;
    left: 50%;
	transform: translateX(-50%);
    background: #d3d3d3;
    padding: 4.5px 10px;
    visibility: hidden;
	z-index: 1;
} 
[data-tooltip]:hover::after {
    visibility: visible;
	opacity: 0.75;
}
dialog {
	width: 305px;
	border: 1px solid #1978d2;
}
input[type], select {
	box-sizing: content-box;
	font-family: segoe ui, Arial, sans-serif;
	font-size: 1rem;
	padding: 10px;
	margin: 5px 0;
	border: 1px solid #d2e6ff;
	width: 283px;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type]:focus, select, button{
	outline: none;
	border: 1px solid #1978d2;
}
.dialogControl {
	margin-top: 10px;
}
.menu {
    margin: 0px;
    padding: 0px;
	display: flex;
	justify-content: space-between;
}
.menuTab {
	cursor: pointer;
	border-bottom: 2px solid transparent;
    padding: 5px 10px;
    font-size: 1.25rem;
	flex-grow: 1;
	text-align: center;
	transition: all 0.5s;
}
.menuTab:hover {
	box-shadow: 0.25rem 0.25rem 0.25rem #d3d3d3;
}
.menuTab-active {
	color: #1978d2;
	border-bottom-color: #1978d2;
}
.content {
    padding: 10px;
}
button, .button {
	box-sizing: content-box;
	color: #1978d2;
	background-color: #ffffff;
	font-size: 1.25rem;
	border: 1px solid #d2e6ff;
	line-height: 1.5rem;
	box-shadow: 0.25rem 0.25rem 0.25rem #d3d3d3;
	margin: 5px 0px;
	cursor: pointer;
	transition: all 0.5s;
}
button:hover, .button:hover {
	background-color: #dcebff;
	border-color: #1978d2;
}
button:active, .button:active {
	box-shadow: inset 0.25rem 0.25rem 0.25rem #d3d3d3;	
}
.button-circle {
	border-radius: 50px;
	height: 5rem;
	width: 5rem;
	font-size: 5.0rem;
	padding: 0;
	position: fixed;
    bottom: 1.5rem;
	right: 1.5rem;
}
.bankAccountList {
	display: flex;
	flex-wrap: wrap;
}
.accountCard {
	cursor: pointer;
	border: 1px solid #f0f0f0;
	border-radius: 5px;
	margin: 5px;
	padding: 0px 10px;
	width: 268px;
	transition: all 0.5s;
}
.accountCard:hover {
	border-color: #1978d2;
	box-shadow: 0.25rem 0.25rem 0.25rem #d3d3d3;
}
.bankAccountTitle {
	text-align: right;
	font-weight: 700;
}
.bankAccountInfo {
	margin: 0.5rem 0;
}
.countMoney {
	display: inline-block;
    font-weight: 700;
    margin-top: 0px;
    font-size: 1.25rem;	
}
.countMoney + .countMoney {
	font-weight: 400;
    font-size: 1rem;
}
.operationHead, .incomeRecord, .costRecord {
	display: flex;
	transition: all 0.5s;
}
.operationHead div {
	background-color: #1978d2;
	color: #ffffff;
	font-weight: 500;
	padding: 10px;	
	width: calc(100% / 3);
}
.incomeRecord:hover, .costRecord:hover {
	background-color: #d3d3d3;
	color: #1978d2;
	cursor: pointer;
}
.incomeRecord div, .costRecord div {
	width: calc(100% / 3);
	padding: 10px 0px 10px 15px;	
}
.category {
	border-bottom: 1px solid transparent;
	border-right: 1px solid transparent;
	cursor: pointer;
	max-height: 31px;
	margin-bottom: 5px;
	overflow: hidden;
	transition: all 0.5s, background-color 0s, color 0s;
}
.category:hover {
	border-color: #ffffff;
	box-shadow: 0.25rem 0.25rem 0.25rem #d3d3d3;
	max-height: 84px;
	background-color: #1978d2;
	color: #ffffff;
}
.titleCategory {
	padding: 5px 10px;
}
.comment {
	padding: 5px 10px;
	font-style: italic;
	color: #ffffff;
    background: #d3d3d3;
}
a {
	text-decoration: none;
}
a:visited {
	color: inherit;
}
a:hover {
	color: #1978d2;
}
.hidden {
	display: none;
}
.chart h3 {
	text-align: center;
}
.chart {
	border: 1px solid #f0f0f0;
	border-radius: 5px;
	margin: 5px;
	padding-top: 0px;
	padding-bottom: 10px;
	transition: all 0.5s;
}
.chart:hover {
	border-color: #1978d2;
	box-shadow: 0.25rem 0.25rem 0.25rem #d3d3d3;
}
.chartBody {
	display: grid;
	grid-template-columns: 185px auto 110px;
	grid-auto-rows: 30px;
	column-gap: 5px;
	row-gap: 5px;
}
.chartBody div:nth-child(3n+1) {
	text-align: right;
}